$greytext: #ccc;
$mainbgcolor: #999;
$plaintext:#fff;
$fonts:arial;

$fontfamilythin: "Acumin Pro Condensed", Acumin Pro Condensed;
$fontfamilythick: "Open Sans", Open Sans;
// $almostwhite: #f6f6f6;
$almostwhite: #dbdbdb;